{% extends 'base.html' %}

{% block title %}
Inicio | FiCo
{% endblock %}

{% block content %}

<section class="max-w-7xl mx-auto px-6 py-20">

    <div class="max-w-3xl">

        <h1 class="text-6xl font-bold leading-tight mb-6">
            Controlá tus finanzas
            de forma simple.
        </h1>

        <p class="text-zinc-400 text-xl mb-8">
            Registrá ingresos, gastos y presupuestos
            desde un único lugar.
        </p>

        <button class="bg-emerald-500 hover:bg-emerald-400 transition px-6 py-3 rounded-xl font-semibold text-black">
            Empezar
        </button>

    </div>

</section>

{% endblock %}