<nav class="bg-zinc-900 border-b border-zinc-800 px-6 py-4">

    <div class="max-w-7xl mx-auto flex justify-between items-center">

        <a href="/" class="text-2xl font-bold text-emerald-400">
            FiCo
        </a>

        <div class="flex gap-6">
            <a href="#" class="hover:text-emerald-400 transition">
                Dashboard
            </a>

            <a href="#" class="hover:text-emerald-400 transition">
                Movimientos
            </a>

            <a href="#" class="hover:text-emerald-400 transition">
                Presupuestos
            </a>
        </div>

    </div>

</nav>